<div class="container-fluid d-none d-lg-block  d-xl-block clearfix">
  <nav class="navbar navbar-expand-lg navbar-light rounded-pill " style="background-color: #e3f2fd;overflow: hidden;">
    <button class="navbar-toggler btn btn-outline-info" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color: #189bba; "></i>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-info rounded-pill " style="color: #24a0ed;cursor: pointer; border:none;" routerLink="/user">Home <i class="fas fa-archway" style="color: #24a0ed; font-size:1em;"></i></a>
        </li>
      </ul>
      <h4 style="color: #24a0ed;"><strong>Friend's Todos</strong></h4>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-info rounded-pill " style="color: #24a0ed;cursor: pointer; border:none; " routerLink="/list">People  <i class="fas fa-users" style="color: #24a0ed; font-size:1em;"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="loading">
    <ngx-spinner type="pacman" size = "medium"></ngx-spinner>
    </div>
  <div class="container set bg-light">
    <div class="row">
      <div class="col-md-4 ">
        <div class="people-list" id="people-list">

          <input type="search" [(ngModel)]="userFilter.name" placeholder="search friend here..."
            style="margin-top: 10px; margin-left:10px;">
          <ul>
            <li class="rounded-pill text-center animate " [@todos] *ngFor="let friend of friends | filterBy: userFilter"
              (click)="loading=false;getTodos(friend);">{{ friend?.name | titlecase }}</li>

            <!-- in case you want to show empty message -->
            <h3 *ngIf=" friends.length==0" style="margin-left: 17%;margin-top: 82%;">No Friends</h3>

            <li *ngIf="(friends | filterBy: userFilter).length === 0 && friends.length!=0">No matching elements</li>
          </ul>
        </div>
      </div>

      <div class="col-md-8 text-center" style="margin:auto" *ngIf="!display">
        <h3>Click any user to view their todolists</h3>
      </div>

      <div class="col-md-8" *ngIf="display">
        <div class="chat" style="border-radius: 20px;">
          <div class="chat-header clearfix " style="border-radius: 20px;">
            <div class="chat-about ">
              <div class="chat-with">todo's of {{currentUserName | titlecase}}</div>
              <div *ngIf="todoCount!=0" class="chat-num-messages">{{todoCount}} todos</div>
              <div *ngIf="todoCount==0" class="chat-num-messages">No todos found</div>

            </div>
            <i class="fas fa-undo-alt" (click)="undo()"  placement="bottom" ngbTooltip="click to undo actions" tooltipClass="toltip"></i>
            <span data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-plus-circle"  placement="bottom" ngbTooltip="click to add todo" tooltipClass="toltip"></i> </span>
          </div> <!-- end chat-header -->

          <div>

            <div *ngIf="currentUserTodos.length==0" class=" col-md-8 alert alert-info rounded-pill m-auto text-center"
              style="width:50%;margin-top:100%" role="alert">
              <p><b>No Lists Found</b></p>
            </div>
            <table *ngFor="let todo of currentUserTodos" [@todos] class="todos">
              <tr>
                <td>
                  <li class="list-group-item py-3 animate">
                    <span *ngIf="!todo.complete" class="buttonc" (click)="completeFriendTodo(todo)"><i
                        class="far fa-circle" style="font-size: 1em;"></i></span>
                    <span *ngIf="todo.complete" class="buttonc" (click)="recompleteFriendTodo(todo)"><i
                        class="fas fa-check-circle" style="font-size: 1em;"></i></span>

                    {{todo.todoTitle}}
                    <span class="button" data-toggle="modal" data-target="#addItemModal"
                      (click)="getTodoId(todo.todoId);getTodo(todo)"><i class="fas fa-plus-circle" style="font-size: 1em;"></i></span>
                    <span class="button" (click)="deleteFriendTodo(todo)"><i class="fas fa-trash" style="font-size: 1em;"></i></span>
                    <span class="button" data-toggle="modal" data-target="#updateTodoModal"
                      (click)="getTodoId(todo.todoId);getTodo(todo)"><i class="fas fa-pen" style="font-size: 1em;"></i></span>
                  </li>
                </td>
              </tr>
              <tr *ngFor="let item of todo?.itemList">
                <td>
                  <li class="list-group-item py-2 animate task">
                    <span *ngIf="!item.itemComplete" class="buttonc" (click)="completeFriendItem(todo,item.itemId)"><i
                        class="far fa-circle" style="font-size: 1em;"></i></span>
                    <span *ngIf="item.itemComplete" class="buttonc" (click)="recompleteFriendItem(todo,item.itemId)"><i
                        class="fas fa-check-circle" style="font-size: 1em;"></i></span>
                    {{item?.itemName}}
                    <span class="button" data-toggle="modal" data-target="#addSubItemModal"
                      (click)="getItemId(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                        class="fas fa-plus-circle" style="font-size: 1em;"></i></span>
                    <span class="button" (click)="deleteFriendItem(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                        class="fas fa-trash" style="font-size: 1em;"></i></span>
                    <span class="button" data-toggle="modal" data-target="#updateItemModal"
                      (click)="getItemId(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                        class="fas fa-pen" style="font-size: 1em;"></i></span>
                  </li>
                  <div *ngFor="let subItem of item?.subItemList" class="subtask">
                    <li class="list-group-item py-1 animate subtask">
                      <span *ngIf="!subItem.subItemComplete" class="buttonc"
                        (click)="completeFriendSubItem(todo,item.itemId,subItem.subItemId)"><i
                          class="far fa-circle" style="font-size: 1em;"></i></span>
                      <span *ngIf="subItem.subItemComplete" class="buttonc"
                        (click)="recompleteFriendSubItem(todo,item.itemId,subItem.subItemId)"><i
                          class="fas fa-check-circle" style="font-size: 1em;"></i></span>
                      {{subItem?.subItemName}}
                      <span class="button"
                        (click)="deleteFriendSubItem(subItem.subItemId);getTodoId(todo.todoId);getTodo(todo)">
                        <i class="fas fa-trash" style="font-size: 1em;"></i></span>
                      <span class="button" data-toggle="modal" data-target="#updateSubItemModal"
                        (click)="getItemId(item.itemId); getSubItemId(subItem.subItemId);getTodoId(todo.todoId);getTodo(todo)"><i
                          class="fas fa-pen" style="font-size: 1em;"></i></span>
                    </li>
                  </div>
                </td>
              </tr>
            </table>
          </div> <!-- end chat-history -->


        </div> <!-- end chat -->
      </div>
    </div>

  </div>

</div> <!-- end container -->


<!-- code for mobile view-->

<div class="d-lg-none">
  <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #e3f2fd;overflow: hidden;">
    <h4 class="navbar-brand" style="color: #24a0ed;"><strong>Friend's Todos</strong></h4>
    <button class="navbar-toggler btn btn-outline-info" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fas fa-bars" style="color: #189bba; "></i>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-info rounded-pill" style="color: #24a0ed;border:none" routerLink="/user">Home <i class="fas fa-archway" style="color: #24a0ed; font-size:1em;"></i></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-info rounded-pill" style="color: #24a0ed;border:none" routerLink="/list">People <i class="fas fa-users" style="color: #24a0ed; font-size:1em;"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="loading">
    <ngx-spinner type="pacman" size = "medium"></ngx-spinner>
    </div>
  <div class="people-list" id="people-list" *ngIf="mdisplay">
    <input type="search" [(ngModel)]="userFilter.name" placeholder="search friend here..."
      style="margin-top: 10px; margin-left:8%;">
    <ul>
      <li class="rounded-pill text-center animate" style="margin-left: 4%;" [@todos]
        *ngFor="let friend of friends | filterBy: userFilter" (click)="loading=false;getTodos(friend)">{{ friend?.name | titlecase }}
      </li>

      <div *ngIf=" friends.length==0">
        <br><br><br><br><br><br>
      </div>
      <div class="row" *ngIf=" friends.length==0">
        <div class="alert alert-info rounded-pill m-auto" role="alert">
          <h3  >No Friends</h3>
         </div> 
       </div>
      

      <!-- in case you want to show empty message -->
      <li *ngIf="(friends | filterBy: userFilter).length === 0 && friends.length!=0">No matching elements</li>
    </ul>
  </div>
  <div *ngIf="!mdisplay" class="container set">
      <div class="chat" style="border-radius: 20px; margin-top: 5%;">
        <div class="chat-header clearfix " style="border-radius: 20px;">
          <div>
            <i class="fas fa-arrow-left" (click)="mdisplay = true"></i>
          </div>
          <div class="chat-about " style ="margin-left: 3%;">
            <div class="chat-with">todo's of {{currentUserName | titlecase}}</div>
            <div *ngIf="todoCount!=0" class="chat-num-messages">{{todoCount}} todos</div>
            <div *ngIf="todoCount==0" class="chat-num-messages">No todos found</div>

          </div>
         
          <span data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-plus-circle"></i> </span>
           <i class="fas fa-undo-alt" (click)="undo()"></i>
        </div> <!-- end chat-header -->

        <div>

          <div *ngIf="currentUserTodos.length==0" class=" col-md-8 alert alert-info rounded-pill m-auto text-center"
            style="width:50%;margin-top:100%" role="alert">
            <p><b>No Lists Found</b></p>
          </div>
          <table *ngFor="let todo of currentUserTodos" class="todos" [@todos]>
            <tr>
              <td>
                <li class="list-group-item py-3 animate">
                  <span *ngIf="!todo.complete" class="buttonc" (click)="completeFriendTodo(todo)"><i
                      class="far fa-circle"></i></span>
                  <span *ngIf="todo.complete" class="buttonc" (click)="recompleteFriendTodo(todo)"><i
                      class="fas fa-check-circle"></i></span>

                  {{todo.todoTitle}}
                  <span class="button" data-toggle="modal" data-target="#addItemModal"
                    (click)="getTodoId(todo.todoId);getTodo(todo)"><i class="fas fa-plus-circle"></i></span>
                  <span class="button" (click)="deleteFriendTodo(todo)"><i class="fas fa-trash"></i></span>
                  <span class="button" data-toggle="modal" data-target="#updateTodoModal"
                    (click)="getTodoId(todo.todoId);getTodo(todo)"><i class="fas fa-pen"></i></span>
                </li>
              </td>
            </tr>
            <tr *ngFor="let item of todo?.itemList">
              <td>
                <li class="list-group-item py-2 animate task">
                  <span *ngIf="!item.itemComplete" class="buttonc" (click)="completeFriendItem(todo,item.itemId)"><i
                      class="far fa-circle"></i></span>
                  <span *ngIf="item.itemComplete" class="buttonc" (click)="recompleteFriendItem(todo,item.itemId)"><i
                      class="fas fa-check-circle"></i></span>
                  {{item?.itemName}}
                  <span class="button" data-toggle="modal" data-target="#addSubItemModal"
                    (click)="getItemId(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                      class="fas fa-plus-circle"></i></span>
                  <span class="button" (click)="deleteFriendItem(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                      class="fas fa-trash"></i></span>
                  <span class="button" data-toggle="modal" data-target="#updateItemModal"
                    (click)="getItemId(item.itemId);getTodoId(todo.todoId);getTodo(todo)"><i
                      class="fas fa-pen"></i></span>
                </li>
                <div *ngFor="let subItem of item?.subItemList" class="subtask">
                  <li class="list-group-item py-1 animate subtask">
                    <span *ngIf="!subItem.subItemComplete" class="buttonc"
                      (click)="completeFriendSubItem(todo,item.itemId,subItem.subItemId)"><i
                        class="far fa-circle"></i></span>
                    <span *ngIf="subItem.subItemComplete" class="buttonc"
                      (click)="recompleteFriendSubItem(todo,item.itemId,subItem.subItemId)"><i
                        class="fas fa-check-circle"></i></span>
                    {{subItem?.subItemName}}
                    <span class="button"
                      (click)="deleteFriendSubItem(subItem.subItemId);getTodoId(todo.todoId);getTodo(todo)">
                      <i class="fas fa-trash"></i></span>
                    <span class="button" data-toggle="modal" data-target="#updateSubItemModal"
                      (click)="getItemId(item.itemId); getSubItemId(subItem.subItemId);getTodoId(todo.todoId);getTodo(todo)"><i
                        class="fas fa-pen"></i></span>
                  </li>
                </div>
              </td>
            </tr>
          </table>
        </div> <!-- end chat-history -->


      </div> <!-- end chat -->
    
  </div>

</div>


<!--modal to create todo -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> create ToDo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #todo="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">TODO Title :</label>
            <input type="text" class="form-control" #tname name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="createFriendTodo(tname.value,todo)">create
            todo</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--modal to update todo-->
<div class="modal fade" id="updateTodoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit ToDo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #todou="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">TODO Title :</label>
            <input type="text" class="form-control" #name name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="updateFriendTodo(name.value,todou)">Edit
            todo</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--modal to add item-->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #item="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">Task Name:</label>
            <input type="text" class="form-control" #taskee name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="addFriendItem(taskee.value,item)">Add
            Item</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--modal to update item-->
<div class="modal fade" id="updateItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #itemu="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">Task Name:</label>
            <input type="text" class="form-control" #task name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="updateFriendItem(task.value,itemu)">Edit
            Task</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--modal to add subitem -->
<div class="modal fade" id="addSubItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add SubTask</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #subItem="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">SubTask Name:</label>
            <input type="text" class="form-control" #subtasko name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="addFriendSubItem(subtasko.value,subItem)">Add
            Subtask</button>
        </div>
      </form>
    </div>

  </div>
</div>


<!--modal to update subItem-->
<div class="modal fade" id="updateSubItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit SubTask</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #subItemu="ngForm">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName" class="col-form-label">SubTask Name:</label>
            <input type="text" class="form-control" #subtask name="title" ngModel>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal"
            (click)="updateFriendSubItem(subtask.value,subItemu)">Edit
            Subtask</button>
        </div>
      </form>
    </div>

  </div>
</div>